/* 
100vh = 800px; let 1vh = 10px;

100vw = 1680px; let 1vw = 20px;
*/

html{
    scroll-behavior: smooth;
}

/* GRIDS */

.grid-2-col{
    
}


/* HEADINGS */

.secondary-heading{
    font-size: 4.2vh;
    color: white;
    font-weight: 500;
}

.description{
    font-family:sans-serif;
    font-size: 1.8vh;
    color: rgba(255, 255, 255, 0.801);
    font-weight: 200;
    line-height: 1;
    margin-top: 1vh;
}

/* SECONDARY Button */

.secondary-btn{
    display: inline-block;
    padding: 1vh;
    font-size: 1.3vh;
    color:black;
    text-decoration: none;
    font-weight: 600;
    background-color: white;
    border-radius: 0.2em;
}